/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* BUTTONS STYLE */

.btn {
    background-color: royalblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(93, 114, 196, 0.5);
    cursor: pointer;
    transition: all 0.2s linear;
}

.btn:hover {
    background-color: rgb(20, 58, 170);
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#zone {
    width: 200px;
    height: 100px;
}

.lightBlue {
    background-color: lightskyblue;
}